.footerBody{
   
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    padding-right: 5px;
}

.footerLogo {
  
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2.5vw;
    margin:10px;
    flex: 1;
}

.contact-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
}
.foot-search{
    margin-right: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    height:100px;
 
    
}
.search-link{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
.search-link:hover{
    color: bisque;
}
.details{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    visibility: hidden;
    font-size: 14px;
    width: fit-content;
   

}
.contact {
    width: fit-content;
    height:100px;
    font-weight: bold;
    

    
}
.contact:hover .details{
    visibility: visible;
    color: bisque;

}